/*rang safe header*/

body{
   background-color: #fcfdb2;
	font-family:'open Sans' ,sans-serif;
	margin:0;
}



.primary-header{
       text-align:center;
}

.main-heading{
	 color:#8dd809;
	 font-size:70px;
   text-align:center;
}

.site-preview{
	 width:650px;
}


   .art {
        color: #000099;
         float: left;
         margin: 10px;
         padding: 10px;
         max-width: 300px;
         height: 300px;
         border: 5px ;
          border-style: solid;
          border-color:#a77e00;
         text-align: center;
         background-color:#fdf77d;
 
      }


.color-summary{
	 color:#FFC122;
	 font-size:25px;
  }


.imager{
	 width:200px;

}


.category-heading{
	color:#32cd32;
	font-size:30px;
}

.store-list{
	color:#FFC122;
	padding-left:15px;
}

.control-name{
        margin-left:10px;
}

.store-link{
	 color:#f0ff00;
	 font-size:20px; 
}

.back-list{
  color:#fcfdb2;
}

.back-link{
	  color: black;
         float: left;
         margin: 10px;
         padding: 10px;
         max-width: 50px;
         height: 30px;
         border: 6px ;
          border-style: solid;
          border-color: #a74300;
         text-align: center;
         background-color: #feff67; 
}




